header {
    padding: 8px;
}
.navbar-container {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 370px;
    align-items: center;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #37447E;
    text-align: center;
}


.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0;
}

/* Linklar */
.navbar-link {
    text-decoration: none;
    font-size: 1rem;
    color: #505F98;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #007bff;
}

@media (max-width: 767px){
    .navbar {
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .buynow-btn{
        display: none;
    }
 
}